.border-top{
    margin-top: 100px;
}

.box-circuit{
    width: 600px;
    height: 500px;
   
}
.margin-top{
    margin-top: 200px;
}
.circuit-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }